footer{
display: flex;
justify-content: center;
border-top: 1px solid #777;
}
footer > a {
    color: black;
    padding: 5px;
    /* background-color: white; */
    margin-right: 10px;
    font-size: 23px;
    transition: 0.3s;
}
footer > a:first-child:hover{
    color: rgb(14, 90, 182);
}
footer > a:nth-child(2):hover{
color: rgb(197, 7, 7);
}
footer > a:nth-child(3):hover{
color: rgb(14, 90, 182);
}
footer > a:last-child:hover{
color: rgb(167, 84, 222);
}